<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214366019950-cka24mfto5bofcibjbnlpubr9jhpfv1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214366019950-cka24mfto5bofcibjbnlpubr9jhpfv1o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>214366019950-ivid8qsugun6fk6jg0j6es0k1i4hrdac.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZK2yVAFWlxrviVTEufod4Fn9QGJkp4m0</string>
	<key>GCM_SENDER_ID</key>
	<string>214366019950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ppsbaseapp</string>
	<key>PROJECT_ID</key>
	<string>ppsbaseapp-436006</string>
	<key>STORAGE_BUCKET</key>
	<string>ppsbaseapp-436006.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214366019950:ios:512d31b8c9aae872e8e17f</string>
</dict>
</plist>